<div class="form-container" *ngIf="user$ | async as user">
  <h2>Profile</h2>
  <div class="profile-image">
    <img width="120" height="120" class="margin-top mat-elevation-z1"
      [src]="user.photoURL ?? '../assets/image-placeholder.png'" />
    <button mat-mini-fab (click)="inputField.click()">
      <mat-icon>edit</mat-icon>
    </button>
  </div>
  <input #inputField hidden type="file" (change)="uploadImage($event, user)" />
  <form class="margin-top" [formGroup]="profileForm" (ngSubmit)="saveProfile()">
    <div class="row">
      <mat-form-field>
        <input type="text" matInput formControlName="firstName" placeholder="First Name" />
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput formControlName="lastName" placeholder="Last Name" />
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field>
        <input type="text" matInput formControlName="displayName" placeholder="Display Name" />
      </mat-form-field>
      <mat-form-field>
        <input type="text" matInput formControlName="email" placeholder="Email" />
      </mat-form-field>
    </div>
    <div class="btn_wrap">
      <button type="submit" class="btn_profile" mat-raised-button color="primary">
        Save
      </button>
    </div>
  </form>
  <div class="btn_wrap">
  <button class="btn_profile" mat-raised-button color="primary" (click)="removeProfile(user)">
    Delete
  </button>
</div>
</div>

