<app-header-board></app-header-board>
<!-- <h5>{{user.name}}</h5> -->
<!-- <div class="task" *ngIf="user | async as user"> -->
<div class="wrap">
<button class="column" (click) = "newColumn()">Add Column</button>
<div class="task">
    <h5>{{data.title}}</h5>
    <p>{{data.description}} + 111</p>
</div>
<div class="columns" *ngFor= 'let column of columns'>
    <h3 ngFor='{ column: data.column}' (click)="edit($event,column)">{{column.title}}</h3>
    <!-- <button ngFor='{ column: data.column}' (click)="edit($event,column)"> Edit </button> -->
    <button ngFor='{ column: data.column}' (click)="remove($event,column)"> Remove</button>
    <button ngFor='{ column: data.column.tasks}' (click)="addTask(column)"> Add Task</button>
    <!-- <app-column-task-list *ngFor="let task of column.tasks" [task]="column.tasks"> -->
        <div class="task" *ngFor="let task of column.tasks">
            <p ngFor='{ task: data.task}' (click)="editTask($event,task,column)">{{task}} </p>
            <!-- <button ngFor='{ task: data.task}' (click)="editTask($event,task,column)"> Edit </button> -->
            <button ngFor='{ task: data.task}' (click)="removeTask($event,task,column)">Remove</button>

        </div>
    <!-- </app-column-task-list> -->

    <!-- <button ngFor='{ column: data.column}' (click)="addTask(column)"> Add Task</button>  -->
    <!-- <div class="task">
        <p>{{task.description}} </p>
        <button ngFor='{ tasks: data.task}' > Edit </button>
        <button ngFor='{ tasks: data.task}' > Remove</button>
    </div> -->
</div>

<!-- <button class="column" (click) = "newColumn()">Add Column</button> -->
<button routerLink="/projects">go Back</button>
</div>
<app-footer-board></app-footer-board>
