.wrap{
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-wrap: wrap;
    /* width:calc(100vw - 70px); */
    /* height: 100%; */
    justify-content: space-between;
    align-items: center;
  }

.info_task{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  /* height: 100%;
 
    overflow-y: auto;
    overflow-x: hidden; */

  
}
.info_task> h4,.info_task> p{
    margin: 0;
    padding: 0;
    line-height: 1.5em;
  }
  .btn_add_board_wrap{
    display: flex; 
    align-items: center;
    justify-content: space-between;
    min-width: 300px;
    max-width: 500px;
  }