
<!-- <ng-template [ngIf]="event.target===''"><div> -->
  
<!-- </div> -->
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput cdkFocusInitial [(ngModel)]="data.board.title" />
      </mat-form-field>
      
      <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="data.board.description"></textarea>
      </mat-form-field>
      
      <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="{ board: data.board }">OK</button>
        <button mat-button (click)="cancel()">Cancel</button>
      </div> 

<!-- <ng-template>
    <mat-form-field>
        <mat-label>Title</mat-label>
        <input matInput cdkFocusInitial [(ngModel)]="data.board.title" />
      </mat-form-field> -->
      
      <!-- <mat-form-field>
        <mat-label>Description</mat-label>
        <textarea matInput [(ngModel)]="data.board.description"></textarea>
      </mat-form-field> -->
      
      <!-- <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="{ board: data.board }">OK</button>
        <button mat-button (click)="cancel()">Cancel</button>
      </div>
</ng-template> -->
<!-- <ng-template> -->
<!-- <mat-form-field>
    <mat-label>Title</mat-label>
    <input matInput cdkFocusInitial [(ngModel)]="data.board.title" />
  </mat-form-field> -->
  
  <!-- <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="data.board.description"></textarea>
  </mat-form-field>
  
  <div mat-dialog-actions>
    <button mat-button [mat-dialog-close]="{ board: data.board }">OK</button>
    <button mat-button (click)="cancel()">Cancel</button>
  </div>
</ng-template> -->
