<!-- <mat-toolbar color="primary">
  <a href="">Planning Man</a>
  <ng-container *ngIf="user$ | async as user; else loginButton">
    <button mat-button [matMenuTriggerFor]="userMenu">
      <img
        width="30"
        height="30"
        class="profile-image-toolbar"
        [src]="user.photoURL ?? '../assets/image-placeholder.png'"
      />
      {{ user.displayName }}
      <mat-icon>expand_more</mat-icon>
    </button>
    <button mat-button routerLink="projects">
      <mat-icon>book</mat-icon>
      Projects
    </button>
  </ng-container>
  <ng-template #loginButton>
    <button mat-button routerLink="login">
      <mat-icon>login</mat-icon>
      Login
    </button>
    <button mat-button routerLink="registration">
      <mat-icon>login</mat-icon>
      Sign up
    </button>
  </ng-template>

</mat-toolbar>



<div class="content">
  <router-outlet></router-outlet>
</div>

<mat-menu #userMenu="matMenu">
  <button mat-menu-item routerLink="projects/profile">
    <mat-icon>account_circle</mat-icon>
    Profile
  </button>
  <button mat-menu-item (click)="logout()">
    <mat-icon>logout</mat-icon>
    Logout
  </button>
</mat-menu> -->

