<mat-tab-group>
  <mat-tab label="About app">
   <div class="info">
    <h3>Planning man</h3>
   <h4>Organize yourself effortlessly</h4>
<p>An application that will help you efficiently organize your workflow.</p>
</div>

  </mat-tab>
  <mat-tab label="Our team">
    <div class="info">
    <h3>Anastasiya Vasilyeva</h3>
    <h4>Junior Frontend Developer</h4>
     <h4>About Myself:</h4>
     <p>
      I believe that IT is the future and it is very interesting for me to develop in this direction.
      I want to gain knowledge and skills that will be enough for employment in the company.
      I am an idea person, very proactive, quite flexible, mobile and creative. And thanks to the experience of working
      as a chief accountant in a consulting company, I can find a way out of any situation without stress.
    </p>
  </div>
  </mat-tab>
  <mat-tab label="About RSSchool">
    <div class="info">
    <h3>Javascript/Front-end Mentoring Program (in English)</h3>
    <blockquote> Training Program
      The program consists of 3 stages. There may be requirements for advancing to each higher stage, which will be
      described below. This specific run of the program will take the form of self-study. This means that you will have
      access to pre-recorded webinars, recommended materials, and weekly live Q&A sessions with our mentors/coordinators
      to answer any questions you might have. You will also have the ability to communicate with other students and help
      each other solve any problems you might face. We will provide you with a list of topics that should be covered for
      each stage with recommended deadlines, but you will have the freedom to choose when you want to watch the lectures
      and complete the tasks. BE AWARE that practical tasks’ deadlines are not suggestions, and should be respected.
    </blockquote>
  </div>
  </mat-tab>
</mat-tab-group>
