<p>columns works!</p>
<div class="info" *ngIf="user$ | async as user">
<div class="info" *ngIf="data$ | async as data">
<div class="column" *ngFor="let column of data">
  <h3 ngFor= "column" (click)="edit($event,column,user)">{{column.title}}</h3>

</div>
    <!-- <h3 ngFor= "" (click)="edit($event,data)">{{this.columns.title}}</h3>  -->


</div>
</div>
<!-- <div class="columns" *ngFor="let data of data | async"> -->
<!-- <div class="columns" *ngIf="data$ | async as data"> -->
    <!-- <div class="info_task">
      <h4>{{column.title}}</h4>
      <p>{{column.description}}</p>
  </div> -->
  <!-- <div class="columns" *ngFor="let column of columns"> -->
<!--     
      <h3 ngFor= "{ column: data.columns}"(click)="edit($event,data)">{{this.columns.title}}</h3>
      <button ngFor='{  data: data.columns}' (click)="edit($event,data)"> Edit </button>
      <button ngFor='{  data: data.board}' (click)="remove($event,data)"> Remove</button>
      <button ngFor='{  data: data.board}' (click)="addTask(data)"> Add Task</button> -->
      <!-- <app-column-task-list *ngFor="let task of column.tasks" [task]="column.tasks"> -->
          <!-- <div class="task" *ngFor="let task of column.tasks">
              <p ngFor='{ task: data.task}' (click)="editTask($event,task,column)">{{task}} </p>
              <button ngFor='{ task: data.task}' (click)="editTask($event,task,column)"> Edit </button>
              <button ngFor='{ task: data.task}' (click)="removeTask($event,task,column)">Remove</button>

          </div> -->
      <!-- </app-column-task-list> -->

    <!-- </div> -->
  <!-- </div> -->
